*{
    padding: 0;
    margin: 0;
}
body{
  
    background-image: url(../img/bg.jfif);
    background-size: 100% ;
    background-color: orange;

}
#box{
    width: 100%;
    margin: 0 auto;
}
img{
    vertical-align: middle;
}






/*头部导航栏-----------------------------------*/
nav{
    width: 90%;
    height: 5rem;
    margin: 0 auto;
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 1.5rem -1.5rem 6rem 0.1rem rgba(0, 0, 0, 0.5);
}
nav #daohang #d0{
    color: orange;
    text-decoration: none;
}
nav #daohang{
    height: 100%; 
}
/*头部导航栏----------------------------------------*/





/* 导航内照片的样式--------------------------------- */
#png {
    border-radius: 2rem;
    height: 5rem;
    font-size:1rem;
    color: orange;
    overflow: hidden;
}
#png  img{
    height: 7rem;
    border-radius: 3rem;
    text-align: left;
    margin-top: -1rem;
}
#png:hover {
    overflow: initial;
}
#png:hover img{
    width: 29rem;
    height: 40rem;
} 
/* 导航内照片的样式---------------------------------------- */




/* 导航内的每个小菜单------------------------------------- */
nav #daohang>div{
    width:10%;
    height: 100%;
    text-align: center;
    line-height: 5rem;
    float: left;
    position: relative;
    /* 设置3d效果 */
    transform-style: preserve-3d;
    perspective-origin: center center;
    transform-origin: center 5rem;
    transition: all 0.2s;
}
nav #daohang>div>div[id*="d"]{
    position: absolute;
    width:100%;
    height: 5rem;
    top: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: orange;
    font-weight: bold;
    /* 固定3d的位置 */
    transform-style: preserve-3d;
    transform-origin: center 0;
    transform: rotateX(-90deg);
}
nav #daohang>div:last-child{
    margin-left: 40%;
}
nav #daohang>#d:hover{
    transform: rotateX(90deg) translateZ(5rem);
} 
nav #daohang>div:nth-of-type(6){   display: none;  }

/* 手机端导航 */
#daohang2{
    display: flex;
    text-align: center;
    line-height: 5rem;
    background-color: #181C28;
    display:none;
}
#daohang2 div:nth-of-type(1){
    width: 5rem;
    height: 5rem;
    border-right: 1px solid #464953;
  
}
#daohang2 div:nth-of-type(1) img{
    width: 100%;
    height: 5rem;
 
}
#daohang2 div:nth-of-type(2){
    height: 5rem;
    width: calc(100% - 10rem);
    font-size: 2rem;
    color: orange;
    font-family: '宋体';
    font-weight: bold;
}
#daohang2 div:nth-of-type(3){
    height: 5rem;
    width: 5rem;
    border-left: 1px solid #464953;
    /* background-color: aqua; */
}
#daohang2 div:nth-of-type(3) img{
    width: 3rem;
    height: 3rem;
    margin-top: 0.3rem;
}
#dianzan{
    vertical-align: -0.6rem;
    margin-top: 0.5rem;
}
#daohang2 #caidan_box{
    position: absolute;
    width: 20rem;
    height: 54rem;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    animation: run1 0.5s linear 0s forwards;
}
@keyframes run1{
    0%{
        width: 10rem;
        height: 0;
    }
    100%{
        width: 20rem;
        height: 54rem;
    }
}
#daohang2 #caidan_box li{
        list-style: none;
        border-bottom: 1px solid wheat;
        font-weight: 800;
        font-size: 1.2rem;
        color: tomato;
 
        
}
/* 导航内的每个小菜单------------------------------------- */





/* 主体部分---------------------------------------------- */
section{
    height: 600px;
    /* border: 1px solid #000; */
    width: 90%;
    margin: 0 auto;
    box-shadow: 1.5rem -1.5rem 6rem 0.1rem rgba(0, 0, 0, 0.5);
}
#flex-box div img{
    width: 100%;
    height: 70%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
#flex-box a{
    text-align: center;
    text-decoration: none;
    color: wheat;
}
#flex-box div p{
    line-height:3rem
}
/* 主体部分---------------------------------------------- */







/* 主体部分的内容-------------------------------------------- */
#flex-box{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/* 每个内容的小div */
#flex-box>div{
    width: 10rem;
    border: 1px solid #000;
    height: 10rem;
    margin: 2rem 2rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}
#flex-box>div:hover{
    box-shadow: 1rem 1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
}
/* 主体部分的内容---------------------------------------------- */







/* 媒体查询不同的屏幕宽度下的显示大小 ---------------------------*/
@media screen and (max-width: 1330px) {
    html {
      font-size: 15px;
    }
}
@media screen and (max-width: 1130px) {
    html {
      font-size: 14px;
    }
}
@media screen and (max-width: 930px) {
    html {
      font-size: 13px;
    }
}
@media screen and (max-width: 830px) {
    html {
      font-size: 12px;
  
    }
    nav #daohang>div:nth-of-type(4){   display: none;  }
    nav #daohang>div:nth-of-type(5){   display: none;  }
    nav #daohang>div:nth-of-type(6){   display: block;  }
}

/*手机端*/
@media screen and (max-width: 680px) {
    html {
      font-size: 11px;
    }
    #daohang{display: none;}
    #daohang2{display: flex;}
    
}
/* 媒体查询不同的屏幕宽度下的显示大小 ----------------------------*/









/* 框架 箭头 */
.fp-controlArrow.fp-next{
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
}
.fp-controlArrow.fp-prev{
    border-color: transparent rgba(0, 0, 0, 0.5) transparent transparent;
}
