    *{
        padding: 0;
        margin: 0;
    }
    body{
        background-size: 100% ;
    }
    :root,html{
        font-size: 16px;
    }
    .bg1{
        background-image: url(../img/1.jpeg);
    }
    .bg2{
        background-image: url(../img/2.jpeg);
    }
    .bg3{
        background-image: url(../img/3.jpeg);
    }
    #box{
        width: 100%;
        margin: 0 auto;
        height: 100%;
        background-repeat: no-repeat;
        position: relative;
    }


    header{
        height: 5rem;
        position: relative;
        /* background-color: tomato; */
        width: 100rem;
        margin: 0 auto;
    }
    .welcome{
        color: orange;
        font-size: 2rem;
        font-weight: 500;
        line-height: 8.5rem;
        display: inline-block;
        position: absolute;
        left: 17rem;
        top: 2rem;
        text-shadow: 5px 5px 10px aqua;
    }
    @keyframes xuanzhuan{
        from{
        transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }





    /* 小图标---写轮眼 start*/
    #eye{
        width: 25rem;
        height: 25rem;
        border: 3px solid #000;
        background-color: rgb(214, 140, 140);
        position: absolute;
        transition: all 2s;
        top: -8rem;
        transform: scale(0.2);
        animation: run_eye  3s forwards;
        transition: all 2s;
    }
    #bot1{
        width: 12.5rem;
        height: 12.5rem;
        border: 2px solid #000;
        margin: 6rem auto;
        animation: run_eye_son 3s forwards;
    }
    #bot2{
        width: 6.25rem;
        height: 6.25rem;
        margin: 3.15rem auto;
        background-color:#000;
        animation: run_eye_son 3s forwards;
    }
    #eye>[id*='d']{
        width: 2.9rem;
        height: 2.9rem;    
        position: absolute;
        background-color: black;
        opacity: 0;
        animation: run_eye_son_three 3s forwards;
    }
    #d1{
        border-radius: 0 50% 50% 50%;
        top: 6.25rem;
        left: 7.8rem;
    }
    #d2{
        border-radius: 50% 50% 50% 0;
        top: 17.5rem;
        left: 10.5rem;
    }
    #d3{
        border-radius: 50% 0 50%  50% ;
        top: 11.125rem;
        left: 17.8rem;
    }
    @keyframes run_eye{
        0%{}
        100%{
            background-color:red;
            transform:scale(0.2) rotate(360deg);
            box-shadow: 0px 0px 2.2rem 0px red,
                        inset 0px 0px 2.6rem 5px wheat;
                        border-radius: 50%;
        }
    }
    @keyframes  run_eye_son{
        0%{}
        100%{
            display: block;
            box-shadow: 0px 0px 2.2rem 0px wheat;
            border-radius: 50%;
        }
    }
    @keyframes  run_eye_son_three{
        0%{}
        100%{
        opacity: 1;
        box-shadow: 0px 0px 2.2rem 0px wheat;
        }
    }
    /* 小图标---写轮眼 over*/






    /* 导航nav   start */
    .daohang{
        width: 40%;
        height:3.1rem;
        margin-left: 31rem;
        position: relative;
        left: 20%;
        top: 3rem;
        box-shadow: 0px 0px 10px 1px #e7dbdb;
        border-radius: 6px;
    }
    .daohang>div{
        width: 25%;
        height: 100%;
        text-align: center;
        line-height: 3.1rem;
        /* 设置3d效果 */
        transform-style: preserve-3d;
        float: left;
        perspective-origin: center center;
        transform-origin: center 3.1rem;
        transition: all 0.2s;
        color: orange;
        /* border-right: 1px solid orange; */
        font-weight: 600;
        position: relative;
    }
    .daohang>div>div{
        /* border-right: 1px solid orange; */
        width: 100%;
        height: 3.1rem;
        top: 3.1rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: orange;
        font-weight: bold;
        /* 固定3d的位置 */
        transform-style: preserve-3d;
        transform-origin: center 0;
        transform: rotateX(-90deg);
        box-shadow: 0px 2px 10px 1px rgb(77, 178, 245);
        cursor: pointer;

    }
    .daohang>.start_3d:hover{
        transform: rotateX(90deg) translateZ(3.1rem);
    } 
    
    .start_3d>div>a{
        text-decoration: none;
        color: orange;
    }
    /* 导航nav   end  */



    main{
        position: relative;
        width: 100rem;
        margin: 0 auto;
    }
    #photo{
        width: 9rem;
        height: 9rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%,50%);
        top:1rem;
        /* box-sizing: border-box; */
        border: 3px solid rgb(180, 226, 253);
        text-align: center;
        border-radius: 50%;
        border-bottom: none;
        /* border-left: none;
        border-right: none; */
        box-shadow: inset 0px  -4px  10px  2px rgba(96, 153, 153, 1);
                        /* 1px 1px 10px  0.5px  orange; */

    }
    #myphoto{
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        color: wheat;
        overflow: hidden;
        border: 3px solid rgb(129, 127, 127);
        box-sizing: border-box;
        margin-left:1rem;
        margin-top:1rem;
        position: absolute;
        box-shadow: -3px  -3px 1rem 2px rgba(0,0,0,.5);
        background-image: url(../img/photo.jpg);
        background-size: 100%;
    }
    #rotatebox{
        width:8rem;
        height: 8rem;
        border-top-right-radius: 52%  61% ;
        border-top-left-radius:57%  62% ;
        border-bottom-right-radius:55% 66% ;
        border-bottom-left-radius:  64%  70% ;
        background-color: rgba(14, 216, 252, 0.8);
        position: absolute;
        top: 4rem;
        left:-2rem;
        opacity: 0.5;
        transform: rotate(0deg);
        animation: xuanzhuan 2s linear infinite;

    }





    
    main .hello{
        width: 18rem;
        height: 4rem;
        border: 1px solid aqua;
        margin: 0 auto;
        margin-top: 7rem;
        text-align: center;
        font-size: 2.2rem;
        color: wheat;
        line-height: 4rem;
        box-shadow: 3px 3px  10px 1px aqua ,
                    inset -5px -5px 10px 3px #000;
    }
    main .welcometo{
        position: relative;
        height: 3rem;
        /* border: 1px solid aqua; */
        margin: 0 auto;
        font-weight: 500;
      
        /* margin-top: 2rem; */
        text-align: center;
        font-size: 1.8rem;
        color: wheat;
        line-height: 3rem;
        background-color: rgba(0, 0, 0, 0.5);
        text-shadow:  1px  1px  10px #000;
        top: 15rem;
        border-radius: 1.5rem;
        box-shadow: 3px 3px  10px 1px rgba(34, 198, 248,0.5) ,
        inset -5px -5px 10px 1px #000;
        width: 40rem;
    }
    main .engineer{
        font-size: 1.2rem;
        color: wheat;
        position: absolute;
        display: inline-block;
        left:50% ;
        transform: translate(-50%);
        width: 15rem;
        top: 20rem;
        border: 1px solid #000;
        text-align: center;
        line-height: 2.2rem;
        line-height: 2.2rem;
        border: 2px solid orange;
        box-shadow: inset -3px -3px  1.5rem 2px  #000 ,
                           2px 2px  0.6rem 1px  rgba(240, 167, 9, 0.5) ; 

    }
    main .my{
        font-size: 1.3rem;
    }
    main .option_btn{
        width: 8rem;
        height: 1rem;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 32rem;
        transform: translate(-25%);
         
    }
    main .option_btn>div{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 3px solid #e7dbdb;
    }
    .selected{
        background-color: orange;
    }


    footer{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        height: 4rem;
        position: absolute;
        text-align: center;
        bottom: 0;
    }
    .footer_content{
        width: 60rem;
        text-align: center;
        margin-top: 4px;
        color: wheat;
        height: 100%;
        margin-left: 20rem;
    }
    .footer_content table{
        line-height: 1.2rem;
        color: slategrey;
        height: 100%;
        margin: 0 auto;
    }
    .footer_content table tr td:nth-of-type(even){
        width: 10rem;
    }
    .footer_content table tr td:nth-of-type(odd){
        width: 5rem;
    }
    .xx{
        text-align: center;
        font-size: 0.8rem;
        color: rgb(252, 210, 134);
        animation: run_text  1s infinite;
    }
    @keyframes run_text{
        0%{}
        100%{
            text-shadow: 0px 0px 10px orange;
        }
    }






    /* fullpage 箭头 */
    .fp-controlArrow.fp-next{
        border-color: transparent transparent transparent rgba(252, 159, 19, 0.3);

        
    }
    .fp-controlArrow.fp-prev{
        border-color: transparent rgba(252, 159, 19, 0.3) transparent transparent;
    }
    /* 修改默认样式 */
    .fp-tableCell{
        vertical-align: text-top;
    }






    /* 适配工作  -- 媒体查询 */


    @media screen and (max-width: 2000px) {
        :root,html{
            font-size: 20px;
        }
    }
    @media screen and (max-width: 1900px) {
        :root,html{
            font-size: 19px;
        }
    }
    @media screen and (max-width: 1800px) {
        :root,html{
            font-size: 18px;
        }
    }
    @media screen and (max-width: 1700px) {
        :root,html{
            font-size: 17px;
        }
    }
    @media screen and (max-width: 1600px) {
        :root,html{
            font-size: 16px;
        }
    }
    @media screen and (max-width: 1500px) {
        :root,html{
            font-size: 15px;
        }
    }
    @media screen and (max-width: 1400px) {
        :root,html{
            font-size: 14px;
        }
    }
    @media screen and (max-width: 1300px) {
        :root,html{
            font-size: 13px;
        }
    }
    @media screen and (max-width: 1200px) {
        :root,html{
            font-size: 12px;
        }
    }
    @media screen and (max-width: 1100px) {
        :root,html{
            font-size: 11px;
        }
    }
    @media screen and (max-width: 1000px) {
        :root,html{
            font-size: 10px;
        }
    }
    @media screen and (max-width: 900px) {
        :root,html{
            font-size: 9px;
        }
    }     
